
/*step 1 - animate */ 
@keyframes logo{ 
    from{ 
        width: 25px; 
        opacity: 0; 
    }
    to { 
        width: 475px; 
        opacity: 1; 
    }
}

#logo {
    animation: logo 5s ease-in-out;
}

/* step 2 - default mode  */
body{ 
    font-family: 'Poppins', serif; 
    background: url('../images/concrete_seamless.png'), #f1f1f1; 
}

/* 720px */

/* step 3  */
header{ 
    display:flex; 
    flex-direction: column; 
    align-items: center; 
}

/* step 4 */ 
.nav_links{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* step 5 */ 
.nav_links li a:visited{ 
    color:#0000ED; 
}
.nav_links li a:hover{ 
    color:#50C7C7; 
}

/* step 6 */
.card > header{ 
    background-color: #288088;
    border-color: #45ADAD; 
    border-style: solid; 
    border-width: 2px; 
    padding: 20px 0 20px 0; 
    border-radius: 50px 50px 0 0;
}


/* step 7, 8 */ 
.card{ 
    border-radius: 50px 50px 0 0;
    flex-basis: 450px;  
}

.pricing{ 
    display:flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-content: center; 
    align-items: center ; 
}


/* step 9 */ 
.gallery img{ 
    width: 300px; 
    margin: 10px 10px 10px 10px; 
    border-style: solid; 
    border-width: 10px; 
    border-color:#50C7C7; 
}

/* step 10 */ 
.gallery { 
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-content:center; 
}

/* 900px */ 
@media screen and (min-width: 900px) { 

/* step 11 */
header {
    display:flex; 
    flex-direction:row; 
    justify-content: space-between; 
}

.nav_links {
    display:flex; 
    flex-direction:row; 
    flex-wrap: wrap; 
    align-content: flex-end;
    justify-content: space-between; 
}

/* step 12 */
.pricing { 
    display:flex; 
    flex-direction: row;  
    flex-wrap: wrap; 
    align-items: center; 
}

.card{ 
    flex-basis: 275px; 
}

/* step 13 */
header:not(main header){ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky; 
    top: 0; 
    width: 100%; 
}

}

/* reduced motion */

/* step 14 */
@media (prefers-reduced-motion){
    #logo{ 
        animation: none; 
    }
}


/*portrait mode print */ 

@media print { 

/* step 15, 16 */
body{ 
    font-family: Arial, Helvetica; 
    background-image: none; 
}

/* step 17 */
nav{ 
    width: 100%; 
}

.nav_links { 
    display:flex; 
    flex-direction: row; 
    justify-content: space-around; 
}

/* step 18 */
.pricing { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-items: flex-end; 
    justify-content: space-evenly; 
}

/* step 19 */
.card  { 
    border-style: solid; 
    border-width: 2px; 
    border-color: #45ADDD; 
    flex-basis: 325px; 
}

/* step 20 */
#gallery, 
.gallery{ 
    display:none; 
}

/* step 21 - thumbs up */
.card ul li:nth-child(2):after{
    content: "\1F44D"; 
}

}
