
/*step 1 */ 
@keyframes logo{ 
    from{ 
        width: 25px; 
        opacity: 0; 
    }
    to { 
        width: 475px; 
        opacity: 1; 
    }

}

.logo {
    animation: logo 5s ease-in-out;
}


/* step 2 - default mode  */
body{ 
    font-family: 'Poppins', serif; 
    background: url('../images/concrete_seamless.png'), #f1f1f1; 
}

/* step 3  */

header{ 
    display:flex; 
    flex-direction: column; 
    align-items: center; 
}

/* step 4 */ 
.nav_links{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* step 5 */ 

.nav_links li a:visited{ 
    color:#0000ED; 
}
.nav_links li a:hover{ 
    color:#50C7C7; 
}

.card > header{ 
    background-color: #288088;
    border-color: #45ADAD; 
    border-style: solid; 
    border-width: 2px; 
    padding: 20px 0 20px 0; 
    border-radius: 50px 50px 0 0;
    /* still need to clip background */
}


/* step 7, 8 */ 
.card{ 
    display: flex;
    flex-direction: column; 
    flex: 0 0 450px;  
    justify-content: center; 
    width: 450px; 
    flex-wrap: wrap; 
}

.pricing{ 
    display:flex; 
    align-items: center; 
    flex-direction: column; 
}


/* step 9 */ 
.gallery img{ 
    width: 300px; 
    margin: 10px 10px 10px 10px; 
    border-style: solid; 
    border-width: 10px; 
    border-color:#50C7C7; 
    
}

/* step 10 */ 
.gallery { 
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-content:center; 
}

/* 900 px */ 
@media screen and (min-width: 900px) { 

header {
    display:flex; 
    flex-direction:row; 
    justify-content: space-between; 
}

.nav_links {
    display:flex; 
    flex-direction:row; 
    flex-wrap: wrap; 
    align-content: flex-end;
}

.pricing { 
    display:flex; 
    flex-direction: row;  
}

}












    /* step 11
header{ 
    display:flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.card > header{ 
   justify-content: center;
}

.card >  {
    justify-content: center;
}



/* .nav_links{ 
    display:flex; 
    align-items: flex-end; 
} */

/* step 12 */

/* .pricing > .card { 
    display:flex; 
    flex: 275px; 
    justify-content: center; 
} */ 

